main {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
}

#fish-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    align-self: flex-start;
    gap: 20px;
}

#tipList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 50%;
    align-self: flex-start
}

#locationList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-bottom: 100px;
}
